.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  width: 100%;
}

.wrapper h3 {
  padding-left: 5px;
  border-left: 5px solid #004d5b79;
  color: var(--dark-primary);
  line-height: 1;
}
