.catalog {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  gap: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: color-mix(in srgb, var(--white) 95%, black 5%);
  width: clamp(100px, 20vw, 300px);
  flex-shrink: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top_bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 40px;
}

.spinner_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    align-items: center;
    background-color: transparent;
  }
  .top_bar {
    padding: 0 10px;
  }
}
