.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--light-primary);
}

.address {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.badge {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f0f1f5;
  color: #545978;
}

.badge_default {
  background-color: #e6f5fe;
  color: #067cc6;
}
