.header {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.logout {
  all: unset;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.2s;
}

.link:hover,
.email:hover {
  color: var(--dark-primary);
  transform: scale(1.07);
}

.link_active {
  font-family: 'Clash Display Medium';
  color: var(--dark-primary);
  text-decoration: none;
  transition: 0.2s;
}

.link_active:hover {
  transform: scale(1.07);
}

.icon {
  margin-right: 3px;
}

.email {
  white-space: nowrap;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .header {
    justify-content: end;
    margin: 0;
    padding: 27px 20px;
  }

  .nav {
    font-size: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 50px;
    background-color: var(--white);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 0.3s;
    transform: translateX(100%);
  }

  .nav_open {
    transform: translateX(0);
  }
  .email {
    max-width: 90%;
  }
}
